{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<div class="row">
    <div class="small-12, medium-4 small-centered columns">
        <h1>Password Reset</h1>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}

          <input class="button" type="submit" value="{% trans 'Submit' %}" />
        </form>

        {% else %}

        <p>{% trans "Password reset failed" %}</p>
    </div>
</div>

{% endif %}

{% endblock %}
