{%extends "base.html" %}
{% block windowtitle %}League Standings{% endblock %}
{%block league%}class="active"{%endblock%}
{%block content %}
{%load mathfilters%}
<div class="row">
    <div class="small-12 columns">
        <h1>League</h1>
        <p>Our league is played on regular meet-up nights and provides a <em>little</em> friendly competition in the meta.</p>
        <p>The <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a> is used for rankings and the general rules for the league are based on the <strong>casual</strong> tier of play described in the <a href="https://images-cdn.fantasyflightgames.com/ffg_content/android-netrunner/support/FAQ/Android-Netrunner%20Tournament%20Rules.pdf">official tournament rules</a>.</p>
        <p>In addition, the <a href="https://www.fantasyflightgames.com/en/news/2015/12/31/napd-security-upgrades/">NAPD Most Wanted List</a> must be adhered to when constructing decks.</p>
        <p>Matches are timed to <strong>90 minutes</strong> but deck lists are not required.</p>
        <p>There are <strong>no restrictions</strong> on changing your decks, identities or factions over the course of a league season.</p>
        <hr/>
    </div>
</div>
{%if league|length > 0 %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Current Standings</h2>
            <table>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Overall ELO</th>
                    <th>Games Played</th>
                    <th>Unique Opponents</th>
                    <th class="show-for-medium-up">Corp ELO</th>
                    <th class="show-for-medium-up">Corp Wins</th>
                    <th class="show-for-large-up">Corp Losses</th>
                    <th class="show-for-large-up">Flatline Wins</th>
                    <th class="show-for-large-up">Corp Timed Wins</th>
                    <th class="show-for-medium-up">Runner ELO</th>
                    <th class="show-for-medium-up">Runner Wins</th>
                    <th class="show-for-large-up">Runner Losses</th>
                    <th class="show-for-large-up">Mill Wins</th>
                    <th class="show-for-large-up">Runner Timed Wins</th>
                </tr>
                {%for user in league %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="/players/{{user.player.player.first_name.lower}}-{{user.player.player.last_name.lower}}">{{user.player.player.first_name}} {{user.player.player.last_name}}</a></td>
                    <td>{{user.corp_start_elo_rank|add:user.corp_elo_points|add:user.runner_start_elo_rank|add:user.runner_elo_points|intdiv:2}}</td>
                    <td>{{user.corp_wins|add:user.corp_loses|add:user.runner_wins|add:user.runner_loses}}
                    <td>{{user.unique_opponents.count}}</td>
                    <td class="show-for-medium-up">{{user.corp_start_elo_rank|add:user.corp_elo_points}}</td>
                    <td class="show-for-medium-up">{{user.corp_wins}}</td>
                    <td class="show-for-large-up">{{user.corp_loses}}</td>
                    <td class="show-for-large-up">{{user.flatline_wins}}</td>
                    <td class="show-for-large-up">{{user.corp_timed_wins}}</td>
                    <td class="show-for-medium-up">{{user.runner_start_elo_rank|add:user.runner_elo_points}}</td>
                    <td class="show-for-medium-up">{{user.runner_wins}}</td>
                    <td class="show-for-large-up">{{user.runner_loses}}</td>
                    <td class="show-for-large-up">{{user.mill_wins}}</td>
                    <td class="show-for-large-up">{{user.runner_timed_wins}}</td>
                </tr>
            {%endfor%}
            <table>
        </div>
    </div>
{%else%}
    <div class="row">
        <div class="small-12 columns">
            <h2>Current Standings</h2>
            <p>There are currently no results to report.</p>
            <hr/>
        </div>
    </div>
{%endif%}
<div class="row">
    <div class="small-12 medium-12 columns">
        <h2>How it works</h2>
        <p>
            <ul>
                <li>Everyone starts with a rank of <strong>1500</strong></li>
                <li>You gain or lose points depending on the relative skill level of your opponents</li>
                <li>There are separate Elo rankings for games as Corp and Runner</li>
                <li>Your Elo ranking only updates once per week</li>
                <li>Players who have the <strong>same overall Elo ranking</strong> are separated first by <strong>total number of games played</strong> and then by <strong>unique opponents played</strong></li>
            </ul>
        </p>
        <hr/>
        <p>At the end of the league season the <strong>Top 8 players</strong> will play in a double elimination tournament to decide the overall winner!</p>
    </div>
</div>

{%endblock%}